<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_result</title>
</head>
<body>
    <form action="/get_data" method="post">
        <lable for="marathi">marathi :</lable><br>
        <input type="text" id="marathi" value="0" name="html_marathi"><br>

        <lable for="hindi">hindi :</lable><br>
        <input type="text" id="hindi" value="0" name="html_hindi"><br>

        <lable for="science">science :</lable><br>
        <input type="text" id="science" value="0" name="html_science"><br>

        <lable for="maths">maths :</lable><br>
        <input type="text" id="maths" value="0" name="html_maths"><br>

        <lable for="history">history :</lable><br>
        <input type="text" id="history" value="0" name="html_history"><br>

        <input type="submit"  value="get_data"><br>

        </form>
    

        <lable>your marks =</lable>{{total}}
</body>
</html>